nav{
  display   : flex;
  flex-flow : row wrap;
  justify-content: space-between;
  padding   : 0 15%;
  background-color: red;
  margin    : 0;
  position  : sticky;
  width     : calc(100% - 30%);
  top       : 0;
  height    : 10vh;
}

.navbar-left{
  display   : flex;
  flex-flow : row wrap;
  justify-content: left;
  align-items: center;
  width     : 50%;
}

.navbar-left-logo{
  width     : 100px;
}
.navbar-left-button{
  display   : flex;
  flex-flow : row wrap;
  justify-content: left;
  align-items: center;
}
.navbar-left-button a{
  width     : 100px;
  text-align: center;
}

.navbar-right{
  display   : flex;
  flex-flow : row wrap;
  justify-content: right;
  align-items: center;
  width     : 20%;
}