nav{
  display   : flex;
  flex-flow : row wrap;
  justify-content: space-between;
  padding   : 0 15%;
  background-color: var(--color6);
  margin    : 0;
  position  : sticky;
  width     : calc(100% - 30%);
  top       : 0;
  height    : 10vh;
}

.navbar-left{
  display   : flex;
  flex-flow : row wrap;
  justify-content: left;
  align-items: center;
  width     : 50%;
}

.navbar-left-logo{
  width     : 100px;
}
.navbar-left-button{
  display   : flex;
  flex-flow : row wrap;
  justify-content: left;
  align-items: center;
}
.navbar-left-button:first-child{
	color 		: var(--color1);
}

.navbar-left-button a{
  width     : 100px;
  text-align: center;
}

.navbar-right{
  display   : flex;
  flex-flow : row wrap;
  justify-content: right;
  align-items: center;
  width     : 50%;
}
.navbar-right>div{
  margin-left : 1em;
}
.navbar-right a{
  border      : 1px black solid;
  padding     : 1em 4em;
  background-color: var(--color1);
  color 			: var(--color6);
  font-weight: 900;
}
.navbar-right .navbar-right-donate a:hover{
	background-color 	: white;
	border: 0.1em var(--color1) solid;
	color: var(--color1);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-right .navbar-right-usr-icn a{
  border      : 0;
  padding     : 0;
  background-color : var(--color6);
}
.navbar-right .navbar-right-usr-icn img{
  height      : 6vh;
  width       : 6vh;
  border      : 0.2em var(--color1) solid;
  border-radius: 50%;
}
