.ngo-set{
	display 	: flex;
	flex-flow : row wrap;
	justify-content: space-between;
}
.ngo-list{
	margin 		: auto;
	padding		: 0 15%;
}
.ngo-set>div>div{
	width 		: 30vw;
	margin 		: 1em;
	border-radius: 0.5em;
}
