#root{
	background-image: url('../../assets/purple.png');
	background-size : cover;
	box-shadow: inset 0 0 0 1000px rgba(47,0, 123, 0.5);
}
.login{
	width 		: 60vw;
	margin		: auto;
	display 	: flex;
	flex-flow : row-wrap;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}
.login>div{
	width 		: 30vw;
	height 		: 70vh;
	padding 	: 2em 2em 0 2em;
}
.login-left{
	background-image: url('../../assets/chain.png');
	background-size : cover;
}
.login-right{
	background-color: var(--color6);
}
.login-left h1{
  font-size       : 3em;
  font-weight     : 900;
  margin          : 0;
  font-family     : 'ClashGrotesk-Bold';
	background 			: -webkit-linear-gradient(var(--color6), var(--color4));
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-right .login-form input{
	width 		: 93%;
	padding 	: 1em 1em;
	border-radius: 0.5em;
	border 		: 0.2em var(--color1) solid;
	background-color: white;
	outline: 0;
}
.login-right .login-form input:focus{
	border 		: 0.2em var(--color1) solid;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	outline: 0;
}
.login-right .login-form input:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	outline: 0;
}
.login-right .input-title p{
	margin-bottom: 3px;
}

.login-right .submit button{
	width 				: 100%;
	border-radius	: 0.5em;
	border 				: 1px black solid;
	padding 			: 0.5em 0.5em;
	background-color: var(--color1);
	color: var(--color6);
	font-size 		: 1.2em;
}
