.homepage-left, .homepage-right{
  display         : flex;
  flex-flow       : column wrap;
  justify-content : center;
  min-height      : inherit;
  align-items     : flex-start;
}
.homepage-left{
  padding         : 0 0 0 15%;
}
.homepage-right{
  padding         : 0 40% 0 5%;
  align-items     : flex-end;
}
.homepage-left>div{
  width           : 80%;
}
.homepage-left .today-donation{
  padding         : 2em;
  border-radius   : 1em;
  margin-bottom   : 2em;
  backdrop-filter : blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  color 					: var(--color6);
}
.homepage-left .today-donation .donate-title{
  font-size       : 1.2em;
}
.homepage-left .today-donation .donate-amount{
  font-size       : 1em;
}
.homepage-left .today-donation .bold{
  font-weight     : 900;
}
.homepage-left .home-title h1{
  font-size       : 4em;
  font-weight     : 900;
  margin          : 0;
  font-family     : 'ClashGrotesk-Bold';
	background 			: -webkit-linear-gradient(var(--color6), var(--color4));
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-desc{
	color 		: var(--color6);
}
.private-home-button, .public-home-button{
  display   : flex;
  flex-flow : row wrap;
  justify-content: left;
}
.private-home-button a, .public-home-button a{
  margin-right  : 1em;
  width         : 10vw;
  text-align    : center;
  padding       : 1em 4em;
  border-radius : 0.1em;
  color 				: white;
}
.private-home-button .button-left a, 
.public-home-button .button-left a, 
.public-home-button .button-right a
{
  background-color: none;
  border          : 0.1em solid white;
}

.homepage-right{
  padding-top   : 3em;
}
.home-desc{
  margin-bottom : 2em;
}

.homepage-right .ngo-list{
  display   : flex;
  flex-flow : column wrap;
  width     : 35vw;
  margin-bottom: 2em;
}
.homepage-right .ngo-top{
  margin-bottom: 1em;
}

.homepage-right .ngo-bottom{
  display   : flex;
  flex-flow : row wrap;
  justify-content: space-between;
}
.homepage-right .ngo-bottom>div{
  width     : 48%;
}

.homepage-right .blc-title{
  font-size       : 1.5em;
  line-height     : 1.5;
  font-family     : 'ClashGrotesk-Regular';
  margin-bottom   : 0.5em;
}
