:root{
  --color1  : #4600B7;
  --color2  : #2F007B;
  --color3  : #B78AFF;
  --color4  : #66FFF6;
  --color5  :#FFF494;
  --color6  : white;
}
html{
  font-size     : 18px;
}
a{
  text-decoration: none;
  color           : black;
}
body{
  width           : 100%;
  margin          : 0;  
  font-family     : 'ClashGrotesk-Regular'
}
button, input::placeholder{
  font-family 	: "ClashGrotesk-Regular";
}