.ngo-obj{
  background-color: var(--color1);
  padding         : 1em;
  border-radius   : 0.5em;
  font-family     : "ClashGrotesk-Regular";
}

.ngo-obj span.ngo-obj-val{
  font-weight     : 600;
}

.ngo-obj-title{
  display         : flex;
  flex-flow       : row wrap;
  justify-content : space-between;
  padding-right   : 10%;
  font-size       : 1.2em;
}
.ngo-obj-desc{
  padding-right   : 15%;
  font-size       : 1.0em;
}
.ngo-obj-desc p{
  margin-top      : 0.5em;
}
.ngo-title>span.ngo-obj-name{
  margin-right    : 1em;
}