.register{
	width 		: 60vw;
	margin		: auto;
	display 	: flex;
	flex-flow : row-wrap;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}
.register>div{
	width 		: 30vw;
	height 		: 70vh;
	padding 	: 2em 2em 0 2em;
}
.register-left{
	background-color: var(--color3);
}
.register-right{
	background-color: var(--color1);
}
.register-left h1{
	font-family: "ClashGrotesk-Bold";
	font-size: 3em;
}

.register-right .register-form input{
	width 		: 93%;
	padding 	: 1em 1em;
	border-radius: 0.5em;
	border 		: 1px black solid;
}
.register-right .input-title p{
	margin-bottom: 3px;
}

.register-right .submit button{
	width 				: 100%;
	border-radius	: 0.5em;
	border 				: 1px black solid;
	padding 			: 1em 1em;
}